body{
background:#3c3c3c;;}

td{
	width:3em;
	height:3em;}


div{
	display:flex;
	justify-content:space-around;}


table{
	margin-top:1em;
	display:table;
	margin:10px auto;
	border: 3px solid black;
	box-shadow: 0 0 5px 5px #fff;}

td{
border-radius:50px 50px 50px 50px;
width:2em;
height:2em;}



#close{
display:none;}

input{
	border-radius:50px 0 0 50px;
	padding:10px;
	font-family:matura mt script capitals;}